<div class="card">
    <h5 class="card-header">{{title}}</h5>
    <div class="card-body">
        <p class="card-text">{{summary}}</p>
        <a href="https://www.nytimes.com{{link}}" target="_blank" class="btn btn-primary">View Article</a>
        <button type="button" data-id="{{_id}}" class="btn btn-primary save">Save Article</button>
    </div>
</div>