<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Mongo Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Saved Articles</a>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-info" id="scrape">Scrape Articles</button>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Clear Articles</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{#each article}}
            {{> saved-partial}}
            {{/each}}
        </div>
    </div>
</div>